<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>To Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nouvelle Tâche</ion-label>
        <ion-input [(ngModel)]="newTask"></ion-input>
      </ion-item>
      <ion-button size="block"
                  (click)="add()">+</ion-button>
        <ion-list>
          <ion-item *ngFor="let item of tasks"
                    (click)="presentActionSheet(item)">
            <ion-label>{{item.name}}</ion-label>
            <ion-icon name="checkmark" *ngIf="item.isChecked"
                      color="success"></ion-icon>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>