<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="previous()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-button (click)="next()">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let item of model?.results"
              (click)="presentModal(item)">
      {{item.name|titlecase}}
    </ion-item>
  </ion-list>
</ion-content>
