<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>basic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{ nombre }}
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="increase()"
        color="tertiary"
        size="block"
        [disabled]="nombre > 8">+</ion-button>
      <ion-button (click)="decrease()"
        color="tertiary"
        shape="round"
        size="block"
        [disabled]="nombre < 1">-</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
