<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ model?.name | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <img [src]="model?.sprites.front_default">
    </ion-card-header>
    <ion-card-content>
      <p>Height: {{ model?.height / 10 }} m</p>
      <p>Weight: {{ model?.weight / 10 }} kg</p>
    </ion-card-content>
  </ion-card>
</ion-content>